.headerBar {
  position: fixed !important;
  height: 100px !important;
  background-color: transparent !important;
  -webkit-transition: 0.3s ease-in-out !important;
  -moz-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

.headerBarCollapse {
  position: fixed !important;
  height: 60px !important;
  background-color: #2c3e50 !important;
  -webkit-transition: 0.5s ease-in-out !important;
  -moz-transition: 0.5s ease-in-out !important;
  transition: 0.5s ease-in-out !important;
}


@media (min-width: 768px) {
  .headerBar,
  .headerBarCollapse {
    padding-left: 45px !important;
  }
}
